<div class='row'>
  <div class='col'>
    <h1>Exercises</h1>
    <ul class='list-group'>
      <%= link_to 'csrf', csrf_path, class: 'list-group-item list-group-item-action' %>
      <%= link_to 'xss', xss_path, class: 'list-group-item list-group-item-action' %>
      <%= link_to 'sql injection', sql_injection_path, class: 'list-group-item list-group-item-action' %>
    </ul>
  </div>
</div>
